title{
    position: fixed;
    top:0;
    right: 0;
}



h1{
    margin-left: 40px;
    padding: 80px 18%;
    padding-left: 40px;
    font-family: 'Poppins', sans-serif;
}

img{
    padding: -15px;
    border-radius: 4px;
}

.container-box p{
    font-size: 20px;
    color: var(--second-color);
    margin-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container-box img {
    height: 50%;
    width: 50%;
    padding: 15px;
    border-radius: 4px;
    margin-top: -50px;
}